@model IEnumerable<WebStore.App.Models.OrderViewModel>

@{
    ViewData["Title"] = "Order History";
}

<h1>Order History for @Model.First().Seller.Name Cinnaholic</h1>

<p>
    <a asp-action="Select">Store List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            @*<th>
                Order Completed
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(i => !i.IsOpen)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                <ol>
                    @foreach (var productName in item.Products.Keys)
                    {
                        @if (item.Products[productName] != 0)
                        {
                            <li>
                                @productName : $@item.Prices[productName] &times; @item.Products[productName]
                            </li>
                        }
                    }
                </ol>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => !item.IsOpen)
            </td>*@
            <td>
                $@Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @if (item.IsOpen)
                {
                    @Html.ActionLink("Change Order", "Order", new { id = item.Buyer.Id, storeName = item.Seller.Name })
                }
            </td>
        </tr>
}
    </tbody>
</table>
