@model IEnumerable<WebStore.App.Models.LocationViewModel>

@{
    ViewData["Title"] = "Select";
}

<h1>Select a Location</h1>

<p>
    <h3>New order for @TempData.Peek("CustomerName")</h3>
    <a asp-action="Index", asp-controller="Customer">Switch User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Place Order", "Order", "Customer", new { id = TempData.Peek("CustomerID"), storeName = item.Name }) |
                @Html.ActionLink("View Inventory", "Inventory", new { id = item.Id })
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
