@model WebStore.App.Models.CustomerViewModel

@{
    ViewData["Title"] = "Details";
    TempData["CustomerID"] = Model.Id;
    TempData["CustomerName"] = Model.FullName;
}

<h1>Details</h1>

<div>
    <h4>@Model.FullName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultStore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultStore)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @if (Model.DefaultStore != null)
    {
        @Html.ActionLink($"Order from default store ({Model.DefaultStore})", "Order", "Customer", new { id = Model.Id, storeName = Model.DefaultStore }) @: |
    }
    @Html.ActionLink("Select a Store", "Select", "Location") |
    @Html.ActionLink("My Order History", "OrderHistory", "Customer", new { id= Model.Id }) |
    <a asp-action="Index">Back to Login</a>
</div>
