@model WebStore.App.Models.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Place Order at @Model.Seller.Name Store</h1>

<div>
    <h4>@Model.Buyer.FullName</h4>
    <hr />
</div>
<div>
    @Html.ActionLink("View Inventory", "Inventory", "Location", new { id = Model.Seller.Id }) |
    @Html.ActionLink("Location Order History", "OrderHistory", "Location", new { id = Model.Seller.Id }) |
    <a asp-action="Select" asp-controller="Location">Select Another Location</a>
</div>

<form asp-action="Order" asp-route-storeId="@Model.Seller.Id" id="order-form">
    @foreach(var kvp in Model.Products)
    {
    <div class="form-group">
        <label asp-for="@kvp.Key" class="control-label">@kvp.Key : $@Model.Seller.Prices[kvp.Key]</label>
        <input name="@kvp.Key" type="number" min="0" max="@((int)(100/Model.Seller.Prices[kvp.Key]))" placeholder="@kvp.Value" class="form-control" />
        <span asp-validation-for="@kvp.Key" class="text-danger"></span>
    </div>
    }
    <button type="submit" class="btn btn-primary">Place Order</button>
</form>