@model WebStore.App.Models.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Place Order at @Model.Seller.Name Store</h1>

<div>
    <h4>@Model.Buyer.FullName</h4>
    <hr />
    @*<dl class="row">
        <dt class = "col-sm-2">
            Order @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            Order #@Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Store @Html.DisplayNameFor(model => model.Seller.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller.Name)
        </dd>
    </dl>*@
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

<form id="order-form">
    @foreach(ProductViewModel product in Model.Seller.Products)
    {
    <div class="form-group">
        <label asp-for="@product.Name" class="control-label">@product.Name : $@product.Price</label>
        <input asp-for="@product.Name" type="number" class="form-control" />
        <span asp-validation-for="@product.Name" class="text-danger"></span>
    </div>
    }
    <button type="submit" class="btn btn-primary">Place Order</button>
</form>